#footer{
    background-color:#e8e8e8;
    height:320px;
   
}
.footer_d{
    display:flex;
    width:1200px;
    margin:auto;
    border-bottom:1px solid #909090;
}
.footer_d1{
    width:148px;
    height:56px;
    margin:auto 20px auto 100px;
}

.footer_d2{
    width:500px;
    height:220px;
    padding:35px;
    
}
.footer_d2_1{
    display:flex;
    text-align:center;
    justify-content:space-between;
}
.footer_d2_1 div p{
    width:95px;
}

.footer_d3{
    width:400px;
    height:220px;
    padding:35px;
}
.footer_d3 p+p{
    margin:0;
    padding:0;
}
p:first-child{
    text-align:center;
}
.footer_c{
    width:850px;
    height:105px;
    margin:auto;
    padding:10px 0;
}
.footer_c div{
    display:flex;
    justify-content:space-between;
}
.footer_c p{
    padding:0px;
    margin:0px;
}
.footer_c2{
    padding:15px 100px 15px 100px;
}
.footer_c2 img{
    width:29px;
}
.footer_c2 p{
    color:#939393;
}