*{
    margin:0;
    padding:0;
}
.carousel-control-prev,.carousel-control-next{
    width:4%;
    height:20%;
    top:40%;
    border-radius:0.25rem;
    background-color:#aaa;
}
.carousel-indicators .active{
    background-color:#0aa1ed;
}
.carousel-indicators li{
    width:0.8rem;
    height:0.8rem;
    background:#fff;
    border-radius:50%;
    margin-right:6px;
    margin-left:6px;
}
.floor-img{
    margin-left:110px;
}
.floor1-1{
    margin-bottom:30px;
}
.floor1-1 div,.floor1-1 div img{
    width:555px;
    height:380PX;
}
.floor1-1 div h3{
    margin-top:150px;
}
.floor1-1 div h3,.floor1-1 div p,
.floor1-2 div h3,.floor1-2 div p{
    text-align:center;
}
.floor1-2 div,.floor1-2 div img{
    width:277.5px;
    height:330px;
}
.floor1-2 div h3{
    margin-top: 100px;
    text-align:center;
}
.floor2 a img{
    width:1110px;
    margin:0 auto;
}
.floor3-1 div,.floor3-1 div img{
    width:425px;
    height:387.5PX;
}
.floor3-1-2{
    margin-top:10px;
}
.floor3-2{
    margin-left:10px;
}
.floor3-2,.floor3-2 img{
    width:675px;
    height:785px;
}
